@import "compass/css3/transition";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/border-radius";

@mixin verticalScroll($name, $height) {
  @-webkit-keyframes #{$name} {
    from {background-position:0 0;}
    to {background-position:0 $height;}
  }

  @-moz-keyframes #{$name} {
    from {background-position:0 0;}
    to {background-position:0 $height;}
  }

  @-ms-keyframes #{$name} {
    from {background-position:0 0;}
    to {background-position:0 $height;}
  }

  @-o-keyframes #{$name} {
    from {background-position:0 0;}
    to {background-position:0 $height;}
  }

  @keyframes #{$name} {
    from {background-position:0 0;}
    to {background-position:0 $height;}
  }
}

@keyframes "blink" {
  from,to { color: transparent; }
  50% { color: black; }
}
@-moz-keyframes "blink" {
  from,to { color: transparent; }
  50% { color: black; }
}
@-webkit-keyframes "blink" {
  from,to { color: transparent; }
  50% { color: black; }
}
@-ms-keyframes "blink" {
  from,to { color: transparent; }
  50% { color: black; }
}
@-o-keyframes "blink" {
  from,to { color: transparent; }
  50% { color: black; }
}

.morph {
  @include transition(all 0.5s ease-in-out);
  &:hover {
    @include border-radius(50%);
    border: 5px solid white;
    padding: 10px;
    @include transform(rotate(360deg));
  }
}

.trim {
  display: inline-block;
  position: relative;
  @include transform(translateZ(0));
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:before {
    @include transition(all 0.5s ease-in-out);
    content: '';
    position: absolute;
    border: white solid 4px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
  }
  &:hover:before, &:focus:before, &:active:before {
    opacity: 1;
    background-color: black;
    color: black;
  }
}

.color-change {
  @include transition(all 0.5s ease-in-out);
  &:hover {
    background-color: black;
    color: white;
  }
}

.cursor {
  font-weight: 100;
  font-size: 16px;
  color: black;
  vertical-align: bottom;
  @include animation(blink 1s step-end infinite);
}