@import "animations";
@import "mixins";

$screenHeight: calc(100vh - 52px);

@mixin section (){
  height: $screenHeight;
  background-color: #272b30;
  background-size: cover;
  background-attachment: fixed;
	.section-container {
		@include vertical-align;
		padding: 60px;
		font-size: 28px;
		color: white;
	}
}

.about-section {
	@include section();
	text-align: right;
  background-image: url("../images/coffee.jpg");
}

.end-section {
	@include section();
	background-image: url("../images/coffee2.jpg");
}

.interests-section {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	.row:nth-child(1) {
		margin-bottom: 20px;
	}
}

@include verticalScroll(bgscroll, -324px);
.home-intro {
	@include animation(bgscroll 10s infinite linear);
	> div {
		@include vertical-align;
	}
	height: $screenHeight;
	text-align: center;
	background-image: url("../images/gray_pattern.gif");
	background-attachment: fixed;
}