$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "compass/css3/box-shadow";
@import "animations";
@import "mixins";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  font-family: "Comic Sans MS",Helvetica,Arial,sans-serif;
}

body {
  overflow-y: scroll;
  position: relative;
}

a {
  color: #5C49FF;
  text-decoration: none;
  &:hover {
    color: #B50000;
    text-decoration: none;
  }
}

/* Responsive: Portrait tablets and up */
@include MQ(M) {
  .container {
    max-width: 730px;
  }
}

// add my own hover effects!
.navbar-nav > li > a:hover, .nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background-image: none;
  background-color: transparent;
}

.navbar-nav li.active a {
  cursor: default;
}

.header-placeholder {
  height: 60px;
  @include MQ(M) {
    & {
      height: 50px;
    }
  }
}

.view-animate-container {
  position: relative;
  padding-bottom: 48px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  @include transition(all 0.2s ease-in-out);
  opacity: 1;
}

.view-animate.ng-enter, .view-animate.ng-enter.ng-enter-active {
  visibility: hidden;
}

.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

/* Custom page footer */
footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $backgroundColor;
}

/*_--__--_ HOME _--__--_ */
.about-section {
  @include section();
  text-align: right;
  background-image: url("../images/coffee.jpg");
}

.end-section {
  @include section();
  background-image: url("../images/coffee2.jpg");
  a {
    color: black;
  }
}

.interests-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  .row:nth-child(1) {
    margin-bottom: 20px;
  }
}

@include verticalScroll(bgscroll, -324px);
.home-intro {
  @include animation(bgscroll 10s infinite linear);
  > div {
    @include vertical-align;
  }
  h1 {
    margin-top: 0;
  }
  min-height: 350px;
  height: $screenHeight;
  text-align: center;
  background-image: url("../images/gray_pattern.gif");
  background-attachment: fixed;
}

/*_--__--_ EXPERIENCE _--__--_ */
.cd-container {
  @include clearfix;
  width: 100%;
  position: relative;
  padding: 2em 0;
  border-top: 6px solid #F0CA45;
  border-bottom: 6px solid #F0CA45;
  background-image: url("../images/linedpaper.png");

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #F0CA45;
  }

  @include MQ(M) {
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.cd-timeline-block {
  @include clearfix;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include MQ(M) {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cd-timeline-img {
  @include border-radius(50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #f0ca45;

  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  @include MQ(M) {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.cd-timeline-content {
  @include border-radius(0.25em);
  @include clearfix;
  position: relative;
  margin-left: 60px;
  padding: 1em;

  .cd-title {
    color: #303e49;
  }

  .cd-data {
    font-size: 13px;
    color: #747272;
    margin: 1em 0;
    line-height: 1.6;
    text-indent: 30px;
  }

  .cd-date {
    font-size: 13px;
    color: black;
    display: inline-block;
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid black;
  }

  @include MQ(M) {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    .cd-title {
      font-size: 20px;
    }

    .cd-data {
      font-size: 16px;
    }

    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: black;
    }

    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 14px;
    }

    .cd-timeline-block:nth-child(even) & {
      float: right;

      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: black;
      }

      .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }
  }
}

/*_--__--_ PROJECTS _--__--_ */
.projects-container {
  background-image: url("../images/thumbtack.jpg");
  padding: 20px;
  .projects-intro {
    text-align: center;
    background-image: url("../images/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin: 40px;
    color: black;
  }
}

.sticky-note {
  @include box-shadow(black 2px 2px 10px);
  background-color: #ffc;
  margin: 10px;
  color: black;
  padding: 20px;
  .technologies {
    font-size: 12px;
    color: gray;
  }
  .sticky-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.sticky-note:hover {
  background-color: #E6E6FF;
  cursor: pointer;
}

/*_--__--_ CONTACT _--__--_ */
.contact-intro {
  height: 1200px;
  text-align: center;
  background-image: url("../images/trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  .contact-medias a {
    height: 200px;
  }
}

@include MQ(M) {
  .contact-intro {
    height: $screenHeight;
    .contact-medias {
      height: 50%;
      a {
        height: 100%;
      }
    }
  }
}

.contact-medias {
  > a {
    padding: 20px;
    display: block;
    opacity: 0.5;
    font-size: 20px;
  }
  .github:hover {
    font-size: 70px;
  }
  .linkedin:hover {
    font-size: 60px;
    color: black;
  }
  .email:hover {
    font-size: 80px;
  }
  .codeeval:hover {
    font-size: 50px;
    color: white;
  }
  .stackoverflow:hover {
    font-size: 30px;
    color: white;
  }
  .facebook:hover {
    font-size: 50px;
    color: white;
  }
}

.contact-intro video {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
}

.contact-medias.contact-top, .contact-medias.contact-bottom {
  & > a:hover {
    background-color: transparent;
  }
}

.contact-top {
  > a:nth-child(even) {
    color: white;
    background-color: black;
  }
  > a:nth-child(odd) {
    color: black;
    background-color: white;
  }
}

.contact-bottom {
  > a:nth-child(even) {
    color: black;
    background-color: white;
  }
  > a:nth-child(odd) {
    color: white;
    background-color: black;
  }
}

.contact-container {
  @include vertical-align;
}