$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "home";

/* Custom page footer */
footer {
  text-align: right;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header-placeholder {
      height: 30px;
  }
}

.view-animate-container {
  position: relative;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  @include transition(all 0.2s ease-in-out);
  opacity: 1;
}

.view-animate.ng-enter, .view-animate.ng-enter.ng-enter-active {
  visibility: hidden;
}

.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

// add my own hover effects!
.navbar-nav > li > a:hover, .nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background-image: none;
  background-color: transparent;
}