RewriteEngine On

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite everything else to index.html to allow html5 state links
RewriteRule ^ index.html [L]

# Compress (gzip) files
#<filesmatch "\.(js|css|html|jpg|png|php)$">
#  SetOutputFilter DEFLATE
#</filesmatch>

# Cache fingerprinted files (ex: scripts.ff41a5af.js)
<FilesMatch "\.\w\w\w\w\w\w\w\w\.">
  FileETag MTime Size
  # Cache 31 days
  Header set Cache-Control "max-age=2678400, private"
</FilesMatch>