RewriteEngine On 
Options FollowSymLinks

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /#/$1 [L]

# Compress (gzip) files
<filesmatch "\.(js|css|html|jpg|png|php)$">
  SetOutputFilter DEFLATE
</filesmatch>

# Cache fingerprinted files (ex: scripts.ff41a5af.js)
<FilesMatch "\.\w\w\w\w\w\w\w\w\.">
  FileETag MTime Size
  # Cache 31 days
  Header set Cache-Control "max-age=2678400, private"
</FilesMatch>