<div class="contact-intro container-fluid">
	<video autoplay="autoplay" video-loaded loop class="hidden">
	  <source src="videos/calm_water.mp4" type="video/mp4">
	  <source src="videos/calm_water.ogg" type="video/ogg">
	</video>
  <div class="contact-medias contact-top row">
  	<a href="https://github.com/VictorChen" target="__blank" class="github morph col-md-4 col-xs-12 col-sm-4">
			<div class="contact-container">
				<div class="contact-title">GitHub</div>
				<div class="contact-content">
				</div>
			</div>
		</a>
	  <a href="https://www.linkedin.com/in/vichen" target="__blank" class="linkedin morph col-md-4 col-xs-12 col-sm-4">
		  <div class="contact-container">
				<div class="contact-title">LinkedIn</div>
				<div class="contact-content">
				</div>
			</div>
	  </a>
	  <a href="mailto:chen_victor@ymail.com" target="_top" class="email morph col-md-4 col-xs-12 col-sm-4">
	  	<div class="contact-container">
				<div class="contact-title">Email</div>
				<div class="contact-content">
				</div>
			</div>
	  </a>
  </div>
  <div class="contact-medias contact-bottom row">
	  <a href="http://www.quora.com/Victor-Chen-3" target="__blank" class="quora morph col-md-4 col-xs-12 col-sm-4">
		  <div class="contact-container">
				<div class="contact-title">Quora</div>
				<div class="contact-content">
				</div>
			</div>
	  </a>
	  <a href="http://stackoverflow.com/users/826290/vic" target="__blank" class="stackoverflow morph col-md-4 col-xs-12 col-sm-4">
	  	<div class="contact-container">
				<div class="contact-title">StackOverFlow</div>
				<div class="contact-content">
				</div>
			</div>
	  </a>
	  <a href="https://twitter.com/itxVic" target="__blank" class="twitter morph col-md-4 col-xs-12 col-sm-4">
	  	<div class="contact-container">
				<div class="contact-title">Twitter</div>
				<div class="contact-content">
				</div>
			</div>
	  </a>
  </div>
</div>