<section class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">Quantitative Learning Center Tutor</div>
			<div class="cd-data">My first "real" job (McDonalds doesn't count). Tutored undergraduates in quantitative courses such as calculus, differential equations and physics.</div>
			<span class="cd-date">Sep 2011 - May 2011</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">QA Automation Intern</div>
			<div class="cd-data">During my sophomore year of college, I had an internship at <a href="http://www.aetna.com" target="__blank">Aetna</a> where I joined the Automation Team within the QA department. I did a lot of VB script and writing excel macros. Learned about what automated testing is and how they are done. Also, started drinking coffee every morning. Apparently that's what people in the coporate world do.</div>
			<span class="cd-date">June 2011 - Aug 2011</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">Computer Science Undergraduate Teaching Assistant</div>
			<div class="cd-data">Was asked by my Data Structures & Algorithms class's professor (<a href="http://ash.engr.uconn.edu/~ldm/work/" target="__blank">Laurent Michel</a>) to help out as an undergraduate TA. This mostly involves grading programming assignments on a weekly basis. This was super time consuming because most of the students in that class were gifted with writing obfuscated code/code that doesn't compile/deeply nested loops and if-statements/no indentations...</div>
			<span class="cd-date">Aug 2011 - Dec 2011</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">Software Engineer Intern</div>
			<div class="cd-data">Worked during the semester at <a href="http://www.nicabm.com/" target="__blank">NICABM</a>. I was responsible for maintaining their website as well as adding any additional features. I learned a lot about web technologies from this internship since I came in with little to no web experience. The backed with written in php and one of the bigger projects that we had to do at the time was to migrate the entire website over to wordpress. This also includes moving over the existing mysql database over to wordpress.</div>
			<span class="cd-date">Dec 2011 - April 2012</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">Software Engineer Intern</div>
			<div class="cd-data">
				<p>Worked during the Summer at <a href="http://www.factset.com/" target="__blank">FactSet Research Systems</a>. I was in the CoMa team under the Company & Markets department where I worked on creating an internal debugger for HTML reports. The motivation behind this project was that we have many HTML reports that are difficult to debug when an issue/bug comes up. You would have to go to the terminal to find certain information, or go to our internal website to track the request, or trace the code in chrome... it was not easy.</p>
				<p>The debugger that I created allows you to open up a dialog within the report itself which displays all the information that you would care about all in one place. This eliminates the need to go to different places to find different infomation. It is simple to use (press a key and the dialog opens, no installation necessary!) and displays the data in a nice format. This debugger was written in JavaScript. I was not a fan of JavaScript when I first started the internship, but then I grew to love it!</p>
			</div>
			<span class="cd-date">May 2012 - Aug 2012</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">University of Connecticut</div>
			<div class="cd-data">Graduated with a degree of Computer Science & Engineering. Finally no more staying up doing homework and studying!</div>
			<span class="cd-date">May 2013</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">FactSet Research Systems</div>
			<div class="cd-data">I enjoyed the internship so I came back for full time to the same team! I work on a web application that utilizes Backbone.js and Marionette.js.</div>
			<span class="cd-date">June 2013 - Present</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="../images/icon-location.svg">
		</div>
		<div class="cd-timeline-content">
			<div class="cd-title">???</div>
			<div class="cd-data">Unfortuntely I can't predict the future...<span class="cursor">|</span></div>
			<span class="cd-date">Future</span>
		</div>
	</div>
</section>