<div class="home-intro">
	<div>
    <h1>Welcome!</h1>
    <p class="lead">
      <img class="morph" src="images/me2.jpg">
      <br>
      Why not take a look around?
    </p>
	</div>
</div>

<div class="about-section">
  <div class="section-container">
  	<p>Victor Chen</p>
  	<p>Software Engineer</p>
    <p class="about-text">Victor sees programming not only as a job, but also as a hobby. He enjoys working on side projects and learning new technologies in his free time. He is the type of person who hates leaving things unfinished. When he starts a task, you can expect him to finish it. He is often regarded as being a hard worker while other times he can be seen as a lazy individual who would take the elevator down one floor. Sometimes he is silly and sometimes he is creative... ok umm... why am I talking in third person again...? I'm really bad at writing these things... or writing in general.</p>
  </div>
</div>

<div class="interests-section container-fluid">
	<div class="row">
	  <div class="interest-block col-md-4">
	  <img class="morph" src="images/starbucks.png" title="starbucks" alt="starbucks">
	  	<p>Starbuck's green tea frappucino. Best drink ever. When they ask if you want wipped cream, you say yes!</p>
	  </div>
	  <div class="interest-block col-md-4">
	  	<img class="morph" src="images/weights.png" title="gym" alt="gym">
	  	<p>Do I go to the gym? Yes. Do I like going to the gym? Nope, not at all.</p>
	  </div>
	  <div class="interest-block col-md-4">
	  	<img class="morph" src="images/tv.png" title="tv" alt="tv">
	  	<p>Definitely enjoy watching movies, tv, netflix, youtube... anything!</p>
	  </div>
	</div>
	<div class="row">
	  <div class="interest-block col-md-4">
	  <img class="morph" src="images/music.png" title="music" alt="music">
	  	<p>I'm always listening to music whether I'm working or driving or walking.</p>
	  </div>
	  <div class="interest-block col-md-4">
	  	<img class="morph" src="images/salad.png" title="salad" alt="salad">
	  	<p>Yes I eat this stuff... trying to be healthy.</p>
	  </div>
	  <div class="interest-block col-md-4">
	  	<img class="morph" src="images/fall.png" title="fall" alt="fall">
	  	<p>Winter is too cold, Summer is too hot, Spring is allergy season, hence, Fall is the best.</p>
	  </div>
	</div>
</div>

<div class="end-section">
  <div class="section-container">
  	<p>Still Here?</p>
  	<p>Check out some of my previous projects!</p>
  	<a href="/projects" class="btn color-change">Previous Projects</a>
  </div>
</div>